#### Fundamentos de Python
* Variables
* Operadores matematicos
* Operadores logicos
* Operadores de comparacion
* Condicionales
    - Simples
    - Compuestos
    - Anidados
    - Encadenados
* Ciclos
    - Finitos (for)
    - Infinitos (while)
* Funciones
* Estructuras de datos
    - Caracteres
    - Enteros
    - Flotantes
    - Listas
    - Diccionarios
    - Tuplas
* Fundamentos de (POO)

In [1]:
print("salida")

salida

In [2]:
# variables
name = "Juan"
age = 21    

print(name)
print(age)

Juan
21

In [3]:
name

'Juan'

In [4]:
last_name = "Pérez"

In [5]:
Last_Name = "Pérez"

In [6]:
#last.name = "Pérez" # error because you cannot use . for a variable name

In [7]:
NAME = "Juan"

In [8]:
# operadores matemáticos
suma = 2 + 3
resta = 5 - 2
multiplicacion = 2 * 3
division = 6 / 3


modulo = 5 % 2
potencia = 2 ** 3
division_entera = 5 // 2

In [9]:
number1 = 12
number2 = 20

In [10]:
suma = (number1 + number2) , (number1 + number1)
resta = number1 - number2
multiplicacion = number1 * number2
division = number1 / number2

print(suma)
print(resta, multiplicacion, division)

(32, 24)
-8 240 0.6

In [11]:
print(name + " " + last_name)  # concatenación de cadenas
print("La suma es: " + str(suma))

Juan Pérez
La suma es: (32, 24)

In [12]:
print(suma)
print(resta)

(32, 24)
-8

In [13]:
print(f"El resultado de la suma es: {suma}")  # f-string
print(f"El resultado de la resta es: {resta}")

El resultado de la suma es: (32, 24)
El resultado de la resta es: -8

In [14]:
print(f"suma: {suma}, resta: {resta}, multiplicación: {multiplicacion}, división: {division}")  # f-string

suma: (32, 24), resta: -8, multiplicación: 240, división: 0.6

In [15]:
print(f"suma: {suma}")
print(f"resta: {resta}")
print(f"multiplicación: {multiplicacion}")
print(f"división: {division}")

suma: (32, 24)
resta: -8
multiplicación: 240
división: 0.6

In [16]:
# operadores de comparacion
# igual a == 
# mayor >
# menor <
# mayor o igual que >= 
# menor o igual que <= 
# diferente de !=

In [17]:
3>2

True

In [18]:
3 != 3

False

In [19]:
number1 == number2

False

In [20]:
# condicionales

if number1 > number2: # syntaxe de if
    print("number1 es mayor que number2")
elif number1 < number2: # syntaxe de elif
    print("number1 es menor que number2")

number1 es menor que number2

In [21]:
# condicionales
print(number1)
print(number2)

if number1 < number2: # syntaxe de if
    print("number1 es menor que number2")

12
20
number1 es menor que number2

In [22]:
# condicionales
print(number1)
print(number2)

if number1 > number2: 
    print("number1 es mayor que number2")
else:
    print("number1 no es mayor que number2")

12
20
number1 no es mayor que number2

In [23]:
# condicionales
number1 = 17
number2 = 20

if number1 > number2: 
    print("number1 es mayor que number2")
elif number1 < number2:
    print("number1 es menor que number2")
elif number1 == number2:
    print("number1 es igual que number2")
# else:
#     print("imgrese valor valido")  # else es opcional

number1 es menor que number2

In [24]:
# condicionales
name = "Ramon"
age = 21

if name == "Juan" and age == 21: # syntaxe de if
    print("Hola Juan, tienes 21 años")
elif name == "Juan" and age != 21:
    print("Hola Juan, no tienes 21 años")
elif name != "Juan" and age == 21:
    print("Hola, no eres Juan pero tienes 21 años")
elif name != "Juan" and age != 21:
    print("Hola, no eres Juan y no tienes 21 años")
else:
    print("imgrese valor valido")

Hola, no eres Juan pero tienes 21 años

In [25]:
# condicionales
x = 10
y = 20

if x > y:
    print("x es mayor que 5")
elif x < y:
    print("x es menor que 5")

x es menor que 5

In [26]:
# condicionales anidados, no es recomendable mas de 3 niveles de anidación
number1 = 14
number2 = 12

if number1 > number2:
    if number1 > 10:
        print("number1 es mayor que number2") 
        print("number1 es mayor que 10")

number1 es mayor que number2
number1 es mayor que 10

In [27]:
# condicionales anidados
number1 = 14
number2 = 12

if (number1 > number2) and (number1 > 10):
    print("number1 es mayor que number2")
    print("number1 es mayor que 10")

number1 es mayor que number2
number1 es mayor que 10

In [28]:
# condicionales anidados, no es recomendable mas de 3 niveles de anidación
number1 = 14
number2 = 12.45

if number1 > number2:
    if number1 > 10:
        print("number1 es mayor que number2") 
    else:
        print("number1 no es mayor que number2")
else: 
    print("number1 no es mayor que number2")

number1 es mayor que number2

In [29]:
# estructuras de datos
# strings
name = "juan"

# metodos: tareas tipicas que se pueden realizar con un string
# print(name.upper())  # convierte a mayúsculas

In [30]:
type(name)  # str

str

In [31]:
# metodos
name = "juan"
name = name.upper()  # convierte a mayúsculas
print(name)  # imprime el nombre en mayúsculas

JUAN

In [32]:
name.capitalize()  # convierte la primera letra a mayúscula y el resto a minúscula
# . es para un metodo

'Juan'

In [33]:
type(number1)

int

In [34]:
type(number2)

float

In [35]:
# listas
name_list = ["Juan", "Pedro", "Maria", "Jose"]
print(name_list)  # imprime la lista completa

['Juan', 'Pedro', 'Maria', 'Jose']

In [36]:
age_list = [21, 22, 23, 24]
print(age_list)  # imprime la lista completa

[21, 22, 23, 24]

In [37]:
name_list.append("Luis")  # agrega un elemento al final de la lista
# print(name_list)  # imprime la lista completa

In [38]:
name_list

['Juan', 'Pedro', 'Maria', 'Jose', 'Luis']

In [39]:
age_list = [
    23,
    21,
    22,
    50,
]

In [40]:
# indices de listas
print(name_list[0])  # imprime el primer elemento de la lista
print(name_list[1])  # imprime el segundo elemento de la lista
print(name_list[2])  # imprime el tercer elemento de la lista
print(name_list[3])  # imprime el cuarto elemento de la lista

Juan
Pedro
Maria
Jose

In [41]:
# indeces negativos de listas
print(name_list[-1])  # imprime el último elemento de la lista
print(name_list[-2])  # imprime el penúltimo elemento de la lista   
print(name_list[-3])  # imprime el antepenúltimo elemento de la lista
print(name_list[-4])  # imprime el anteantepenúltimo elemento de la lista

Luis
Jose
Maria
Pedro

In [42]:
# ver que posicion ocupa un elemento en la lista
name_list[1]

'Pedro'

In [43]:
name_list[0]  # imprime el primer elemento de la lista

'Juan'

In [44]:
name_list[-1]

'Luis'

In [45]:
name_list

['Juan', 'Pedro', 'Maria', 'Jose', 'Luis']

In [46]:
# slice de listas
print(name_list[0:2])  # imprime los elementos de la lista desde el índice 0 hasta el índice 2 (sin incluir el índice 2)
# el numero 0 es el punto de inicio y el 2 es el punto de fin, no toma el valor del fin

['Juan', 'Pedro']

In [47]:
print(name_list[0:3])  # imprime los elementos de la lista desde el índice 0 hasta el índice 3 (sin incluir el índice 3)

['Juan', 'Pedro', 'Maria']

In [48]:
print(name_list[:3])

['Juan', 'Pedro', 'Maria']

In [49]:
print(name_list[3:])  # imprime los elementos de la lista desde el índice 3 hasta el final de la lista

['Jose', 'Luis']

In [50]:
len(name_list)  # imprime la longitud de la lista

5

In [51]:
# ciclos finitos
# for
for i in range(3): # imprime los números del 0 al 2
    print(i)

0
1
2

In [52]:
# ciclos finitos
# for
for name in name_list: # imprime los elementos de la lista
    print(name)  # imprime el elemento de la lista

    # var variable de iteracion, puede ser cualquier nombre, es la pinza que agarra el elemento de la lista
    # name_list es la lista que se va a iterar
    # el nombre de la variable de iteracion no importa, puede ser cualquier nombre, 
    # es mejor si se usa el mismo nombre que la lista o un elemento de la lista

Juan
Pedro
Maria
Jose
Luis

In [53]:
# ciclos finitos
for name in name_list:   
    if name == "Maria":
        # imprime la posicion de Maria en la lista
        print(name_list.index(name))

2

In [54]:
# recorrido de una lista por indices
for item in range(2):
    print("hola")

hola
hola

In [55]:
# recorrido de una lista por indices
for item in range(len(name_list)):  # imprime los elementos de la lista por indices
    print(item)  # imprime el elemento de la lista por indice

    # controlar la AI ctr + flecha derecha

0
1
2
3
4

In [56]:
# recorrido de una lista por indices
for item in range(len(name_list)):  # imprime los elementos de la lista por indices
    print(name_list[item])

Juan
Pedro
Maria
Jose
Luis

In [57]:
# recorrido de una lista por indices
for item in range(len(name_list)):  # imprime los elementos de la lista por indices
    if name_list[item] == "Jose":
        print(name_list[item])
        print(item)  # imprime el elemento de la lista por indice

Jose
3

In [58]:
# rango de valores con range
for i in range(5,11): 
    print(i)  # imprime el elemento de la lista por indice

5
6
7
8
9
10

In [59]:
# hacer repositorio de todo esto