#### Fundamentos de Python
* Variables
* Operadores matematicos
* Operadores logicos
* Operadores de comparacion
* Condicionales
    - Simples
    - Compuestos
    - Anidados
    - Encadenados
* Ciclos
    - Finitos (for)
    - Infinitos (while)
* Funciones
* Estructuras de datos
    - Caracteres
    - Enteros
    - Flotantes
    - Listas
    - Diccionarios
    - Tuplas
* Fundamentos de (POO)

In [60]:
print("salida")

salida

In [61]:
# variables
name = "Juan"
age = 21    

print(name)
print(age)

Juan
21

In [62]:
name

'Juan'

In [63]:
last_name = "Pérez"

In [64]:
Last_Name = "Pérez"

In [65]:
#last.name = "Pérez" # error because you cannot use . for a variable name

In [66]:
NAME = "Juan"

In [67]:
# operadores matemáticos
suma = 2 + 3
resta = 5 - 2
multiplicacion = 2 * 3
division = 6 / 3


modulo = 5 % 2
potencia = 2 ** 3
division_entera = 5 // 2

In [68]:
number1 = 12
number2 = 20

In [69]:
suma = (number1 + number2) , (number1 + number1)
resta = number1 - number2
multiplicacion = number1 * number2
division = number1 / number2

print(suma)
print(resta, multiplicacion, division)

(32, 24)
-8 240 0.6

In [70]:
print(name + " " + last_name)  # concatenación de cadenas
print("La suma es: " + str(suma))

Juan Pérez
La suma es: (32, 24)

In [71]:
print(suma)
print(resta)

(32, 24)
-8

In [72]:
print(f"El resultado de la suma es: {suma}")  # f-string
print(f"El resultado de la resta es: {resta}")

El resultado de la suma es: (32, 24)
El resultado de la resta es: -8

In [73]:
print(f"suma: {suma}, resta: {resta}, multiplicación: {multiplicacion}, división: {division}")  # f-string

suma: (32, 24), resta: -8, multiplicación: 240, división: 0.6

In [74]:
print(f"suma: {suma}")
print(f"resta: {resta}")
print(f"multiplicación: {multiplicacion}")
print(f"división: {division}")

suma: (32, 24)
resta: -8
multiplicación: 240
división: 0.6

In [75]:
# operadores de comparacion
# igual a == 
# mayor >
# menor <
# mayor o igual que >= 
# menor o igual que <= 
# diferente de !=

In [76]:
3>2

True

In [77]:
3 != 3

False

In [78]:
number1 == number2

False

In [79]:
# condicionales

if number1 > number2: # syntaxe de if
    print("number1 es mayor que number2")
elif number1 < number2: # syntaxe de elif
    print("number1 es menor que number2")

number1 es menor que number2

In [80]:
# condicionales
print(number1)
print(number2)

if number1 < number2: # syntaxe de if
    print("number1 es menor que number2")

12
20
number1 es menor que number2

In [81]:
# condicionales
print(number1)
print(number2)

if number1 > number2: 
    print("number1 es mayor que number2")
else:
    print("number1 no es mayor que number2")

12
20
number1 no es mayor que number2

In [82]:
# condicionales
number1 = 17
number2 = 20

if number1 > number2: 
    print("number1 es mayor que number2")
elif number1 < number2:
    print("number1 es menor que number2")
elif number1 == number2:
    print("number1 es igual que number2")
# else:
#     print("imgrese valor valido")  # else es opcional

number1 es menor que number2

In [83]:
# condicionales
name = "Ramon"
age = 21

if name == "Juan" and age == 21: # syntaxe de if
    print("Hola Juan, tienes 21 años")
elif name == "Juan" and age != 21:
    print("Hola Juan, no tienes 21 años")
elif name != "Juan" and age == 21:
    print("Hola, no eres Juan pero tienes 21 años")
elif name != "Juan" and age != 21:
    print("Hola, no eres Juan y no tienes 21 años")
else:
    print("imgrese valor valido")

Hola, no eres Juan pero tienes 21 años

In [84]:
# condicionales
x = 10
y = 20

if x > y:
    print("x es mayor que 5")
elif x < y:
    print("x es menor que 5")

x es menor que 5

In [85]:
# condicionales anidados, no es recomendable mas de 3 niveles de anidación
number1 = 14
number2 = 12

if number1 > number2:
    if number1 > 10:
        print("number1 es mayor que number2") 
        print("number1 es mayor que 10")

number1 es mayor que number2
number1 es mayor que 10

In [86]:
# condicionales anidados
number1 = 14
number2 = 12

if (number1 > number2) and (number1 > 10):
    print("number1 es mayor que number2")
    print("number1 es mayor que 10")

number1 es mayor que number2
number1 es mayor que 10

In [87]:
# condicionales anidados, no es recomendable mas de 3 niveles de anidación
number1 = 14
number2 = 12.45

if number1 > number2:
    if number1 > 10:
        print("number1 es mayor que number2") 
    else:
        print("number1 no es mayor que number2")
else: 
    print("number1 no es mayor que number2")

number1 es mayor que number2

In [88]:
# estructuras de datos
# strings
name = "juan"

# metodos: tareas tipicas que se pueden realizar con un string
# print(name.upper())  # convierte a mayúsculas

In [89]:
type(name)  # str

str

In [90]:
# metodos
name = "juan"
name = name.upper()  # convierte a mayúsculas
print(name)  # imprime el nombre en mayúsculas

JUAN

In [91]:
name.capitalize()  # convierte la primera letra a mayúscula y el resto a minúscula
# . es para un metodo

'Juan'

In [92]:
type(number1)

int

In [93]:
type(number2)

float

In [94]:
# listas
name_list = ["Juan", "Pedro", "Maria", "Jose"]
print(name_list)  # imprime la lista completa

['Juan', 'Pedro', 'Maria', 'Jose']

In [95]:
age_list = [21, 22, 23, 24]
print(age_list)  # imprime la lista completa

[21, 22, 23, 24]

In [96]:
name_list.append("Luis")  # agrega un elemento al final de la lista
# print(name_list)  # imprime la lista completa

In [97]:
name_list

['Juan', 'Pedro', 'Maria', 'Jose', 'Luis']

In [98]:
age_list = [
    23,
    21,
    22,
    50,
]

In [99]:
# indices de listas
print(name_list[0])  # imprime el primer elemento de la lista
print(name_list[1])  # imprime el segundo elemento de la lista
print(name_list[2])  # imprime el tercer elemento de la lista
print(name_list[3])  # imprime el cuarto elemento de la lista

Juan
Pedro
Maria
Jose

In [100]:
# indeces negativos de listas
print(name_list[-1])  # imprime el último elemento de la lista
print(name_list[-2])  # imprime el penúltimo elemento de la lista   
print(name_list[-3])  # imprime el antepenúltimo elemento de la lista
print(name_list[-4])  # imprime el anteantepenúltimo elemento de la lista

Luis
Jose
Maria
Pedro

In [101]:
# ver que posicion ocupa un elemento en la lista
name_list[1]

'Pedro'

In [102]:
name_list[0]  # imprime el primer elemento de la lista

'Juan'

In [103]:
name_list[-1]

'Luis'

In [104]:
name_list

['Juan', 'Pedro', 'Maria', 'Jose', 'Luis']

In [105]:
# slice de listas
print(name_list[0:2])  # imprime los elementos de la lista desde el índice 0 hasta el índice 2 (sin incluir el índice 2)
# el numero 0 es el punto de inicio y el 2 es el punto de fin, no toma el valor del fin

['Juan', 'Pedro']

In [106]:
print(name_list[0:3])  # imprime los elementos de la lista desde el índice 0 hasta el índice 3 (sin incluir el índice 3)

['Juan', 'Pedro', 'Maria']

In [107]:
print(name_list[:3])

['Juan', 'Pedro', 'Maria']

In [108]:
print(name_list[3:])  # imprime los elementos de la lista desde el índice 3 hasta el final de la lista

['Jose', 'Luis']

In [109]:
len(name_list)  # imprime la longitud de la lista

5

In [110]:
# ciclos finitos
# for
for i in range(3): # imprime los números del 0 al 2
    print(i)

0
1
2

In [111]:
# ciclos finitos
# for
for name in name_list: # imprime los elementos de la lista
    print(name)  # imprime el elemento de la lista

    # var variable de iteracion, puede ser cualquier nombre, es la pinza que agarra el elemento de la lista
    # name_list es la lista que se va a iterar
    # el nombre de la variable de iteracion no importa, puede ser cualquier nombre, 
    # es mejor si se usa el mismo nombre que la lista o un elemento de la lista

Juan
Pedro
Maria
Jose
Luis

In [112]:
# ciclos finitos
for name in name_list:   
    if name == "Maria":
        # imprime la posicion de Maria en la lista
        print(name_list.index(name))

2

In [113]:
# recorrido de una lista por indices
for item in range(2):
    print("hola")

hola
hola

In [114]:
# recorrido de una lista por indices
for item in range(len(name_list)):  # imprime los elementos de la lista por indices
    print(item)  # imprime el elemento de la lista por indice

    # controlar la AI ctr + flecha derecha

0
1
2
3
4

In [115]:
# recorrido de una lista por indices
for item in range(len(name_list)):  # imprime los elementos de la lista por indices
    print(name_list[item])

Juan
Pedro
Maria
Jose
Luis

In [116]:
# recorrido de una lista por indices
for item in range(len(name_list)):  # imprime los elementos de la lista por indices
    if name_list[item] == "Jose":
        print(name_list[item])
        print(item)  # imprime el elemento de la lista por indice

Jose
3

In [117]:
# rango de valores con range
for i in range(5,11): 
    print(i)  # imprime el elemento de la lista por indice

5
6
7
8
9
10

In [118]:
# hacer repositorio de todo esto

# Funciones en Python

In [120]:

def saludos():
    print("Hola")

In [121]:
saludos()

Hola

In [126]:
# funcion que salude a un nombre
def saludos(name):
    print(f"Hola {name}")

In [127]:
saludos("Josefino")

Hola Josefino

In [128]:
# funcion que sume dos numeros number1 y number2
def suma(number1, number2):
    return number1 + number2

In [130]:
suma(2, 3)

5

In [131]:
# funcion para calcular la altura de un triangulo
def area_triangulo(base, altura):
    return (base * altura) / 2

In [ ]:
area_triangulo(2, 3)  # por posicion

3.0

In [135]:
area_triangulo(base=3, altura=2)  # se puede llamar a la funcion con los argumentos en cualquier orden

3.0

In [139]:
# area_triangulo(base=3, altura=2)  # parametros
# area_triangulo(2, 3)  # por posicion

In [143]:
# funcion con argumentos por defecto
def area_triangulo2(base=2, altura=3):
    return (base * altura) / 2

In [144]:
area_triangulo2(5, 10)

25.0

In [145]:
area_triangulo2(altura=5)

5.0

In [148]:
area_triangulo2()

3.0

In [150]:
# docuentacion de una funcion
def area_triangulo3(base=2, altura=3):
    """
    Esta funcion calcula el area de un triangulo
    :param base: base del triangulo
    :param altura: altura del triangulo
    :return: area del triangulo
    """
    return (base * altura) / 2

In [153]:
area_triangulo3()

3.0

In [ ]:
# docuentacion de una funcion
def area_triangulo4(base=float, altura=float) -> float:
    """
    Esta funcion calcula el area de un triangulo
    :param base: base del triangulo float o int
    :param altura: altura del triangulo float o int
    :return: area del triangulo float
    """
    return (base * altura) / 2

In [161]:
area_triangulo4(2.3, 3.5)

4.0249999999999995

In [165]:
area_triangulo4(altura=5.5, base=10)

27.5

### Diccionarios

In [175]:
# diccionarios de clave:valor
name_dict = {
    "nombre": "Juan",
    "apellido": "Pérez",
    "edad": 21,
    "altura": 1.75,
}

In [176]:
name_list = ["Juan", "Pérez", 21, 1.75]

In [170]:
name_list[0]

'Juan'

In [171]:
name_dict["edad"]

21

### Tuplas

In [177]:
# tupla 
name_tuple = ("Juan", "Pérez", 21, 1.75)

In [180]:
name_list

['Juan', 'Pérez', 21, 1.75]

In [181]:
name_list[0] = "Pedro"
name_list

['Pedro', 'Pérez', 21, 1.75]

In [ ]:
name_tuple[0]

'Juan'

In [184]:
#name_tuple[0] = "Pedro"  # no se puede modificar una tupla
# diferencia entre lista y tupla
# lista se puede modificar, tupla no se puede modificar